body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-khaki: #fce574;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro: #d9d9d9;
  --color-gainsboro-200: rgba(221, 221, 221, 0.87);
  --color-white: #fff;
  --color-black: #000;
  --color-steelblue-100: #738cbd;
  --color-steelblue-200: #4d6597;
  --color-steelblue-300: #386097;
  --color-steelblue-400: #3a5e98;
  --color-darkslateblue-100: #215aa8;
  --color-darkslateblue: #24549c;
  --color-silver: #d3c6c6;
  --color-gold: #f8d835;
  --color-crimson: #e54360;
  --color-cornflowerblue-100: #4a7ac2;
  --color-whitesmoke: #f1f1f1;

  /* Gaps */
  --gap-94xl: 113px;
  --gap-9xl: 28px;
  --gap-37xl: 56px;
  --gap-2xs: 11px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-4xs: 9px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-49xl: 68px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-35xl: 54px;
  --gap-8xs: 5px;
  --gap-10xl: 29px;
  --gap-3xs: 10px;
  --gap-3xs-5: 9.5px;
  --gap-43xl: 62px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-46xl: 65px;
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-6xl: 25px;
  --gap-8xl: 27px;
  --gap-sm: 14px;
  --gap-41xl: 60px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-241xl: 260px;
  --padding-xl: 20px;
  --padding-150xl: 169px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-9xl: 28px;
  --padding-4xl: 23px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-sm-4: 13.4px;
  --padding-113xl: 132px;
  --padding-47xl: 66px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-2xs: 11px;
  --padding-12xl-5: 31.5px;
  --padding-lgi: 19px;
  --padding-51xl: 70px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-19xl: 38px;
  --padding-7xl: 26px;
  --padding-13xl: 32px;
  --padding-50xl: 69px;
  --padding-15xl: 34px;
  --padding-9xl-4: 28.4px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-52xl: 71px;
  --padding-16xl: 35px;
  --padding-sm: 14px;
  --padding-86xl: 105px;
  --padding-49xl: 68px;
  --padding-17xl: 36px;
  --padding-6xl-4: 25.4px;
  --padding-2xl: 21px;
  --padding-xs-6: 11.6px;
  --padding-32xl: 51px;
  --padding-8xs: 5px;
  --padding-18xl: 37px;
  --padding-46xl: 65px;
  --padding-43xl: 62px;
  --padding-11xs: 2px;
  --padding-6xl: 25px;
  --padding-38xl: 57px;
  --padding-101xl: 120px;
  --padding-41xl: 60px;
  --padding-sm-5: 13.5px;
  --padding-base: 16px;
  --padding-6xs: 7px;
  --padding-6xl-5: 25.5px;
  --padding-mini-5: 14.5px;
  --padding-mid-5: 17.5px;
  --padding-28xl-5: 47.5px;
  --padding-lg: 18px;
  --padding-mini: 15px;
  --padding-33xl: 52px;
  --padding-lgi-1: 19.1px;
  --padding-11xs-1: 1.1px;
  --padding-3xs: 10px;
  --padding-6xs-4: 6.4px;
  --padding-28xl: 47px;
  --padding-12xl: 31px;
  --padding-3xs-1: 9.1px;
  --padding-9xs-5: 3.5px;
  --padding-23xl: 42px;
  --padding-7xs-9: 5.9px;
  --padding-73xl: 92px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mini: 15px;
  --br-3xs: 10px;
}
