.inicio-child {
  align-self: stretch;
  height: 918px;
  position: relative;
  background-color: var(--color-khaki);
  display: none;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font: bold;
  width: 100%;
}
ul li{
  display: inline-block;
  padding: 0px 20px;
}
a{
  color: white;
  text-decoration: none;
}


.f-r-a-m-e-child {
  height: 120px;
  width: 1550px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.inicio3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  z-index: 2;
}
.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
}
.image-7-icon {
  height: 60px;
  width: 60px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.f-r-a-m-e1,
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.f-r-a-m-e1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 var(--padding-4xl);
}
.f-r-a-m-e-parent,
.line-div {
  align-self: stretch;
  box-sizing: border-box;
}
.line-div {
  height: 5px;
  position: relative;
  border-top: 5px solid var(--color-steelblue-300);
  z-index: 2;
}
.f-r-a-m-e-parent {
  width: 181.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-12xs);
  gap: 3px;
}
.lecciones1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 117px;
  z-index: 2;
}
.lecciones-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.vector-icon {
  height: 55px;
  width: 57px;
  position: relative;
  z-index: 2;
}
.herramientas-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.herramientas1 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.herramientas-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-8-icon {
  height: 55px;
  width: 56.5px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.herramientas-image-parent,
.herramientas-image1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.herramientas-image-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.f-r-a-m-e-inner {
  height: 63px;
  width: 529.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.tienda1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  z-index: 2;
}
.tienda-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.store-solid-1-icon {
  height: 44.5px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-div,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.frame-div {
  height: 52.5px;
  width: 186.5px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.perfil1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  z-index: 2;
}
.perfil-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.image-15-icon {
  height: 55px;
  width: 57.6px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.f-r-a-m-e-inner1,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.f-r-a-m-e-inner1 {
  height: 61px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.f-r-a-m-e,
.parent-container {
  align-self: stretch;
  max-width: 100%;
}
.f-r-a-m-e {
  height: 120px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-9xl-4) var(--padding-7xl) 97px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.parent-container {
  flex: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.parent-container-wrapper {
  width: 1370px;
  height: 314px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-50xl);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  height: 93px;
  width: 398px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  display: none;
  max-width: 100%;
}
.nombrecurso {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-wrapper,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-13xl) var(--padding-xl);
  background-color: var(--color-steelblue-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
.curso-name-container:hover,
.frame-button:hover,
.rectangle-container:hover,
.rectangle-group:hover,
.rectangle-parent1:hover,
.rectangle-parent:hover {
  background-color: var(--color-steelblue-100);
}
.frame-wrapper {
  width: 404px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.curso-name-container-child {
  height: 93px;
  width: 398px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  display: none;
  max-width: 100%;
}
.nombrecurso1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.curso-name-container,
.frame-child1 {
  width: 398px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  max-width: 100%;
}
.curso-name-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-13xl) var(--padding-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.frame-child1 {
  height: 93px;
  position: relative;
  display: none;
}
.nombrecurso2 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-parent5,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-13xl) var(--padding-xl);
  background-color: var(--color-steelblue-200);
  width: 398px;
  border-radius: var(--br-xl);
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent5 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child2 {
  height: 93px;
  width: 398px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  display: none;
  max-width: 100%;
}
.nombrecurso3 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-wrapper1,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-13xl) var(--padding-xl);
  background-color: var(--color-steelblue-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
.frame-wrapper1 {
  width: 404px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.frame-child3 {
  height: 93px;
  width: 398px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  display: none;
  max-width: 100%;
}
.nombrecurso4 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-button,
.frame-child4 {
  width: 398px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  max-width: 100%;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-13xl) var(--padding-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.frame-child4 {
  height: 93px;
  position: relative;
  display: none;
}
.nombrecurso5 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-footer,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-19xl) var(--padding-xl) var(--padding-7xl);
  background-color: var(--color-steelblue-200);
  width: 398px;
  border-radius: var(--br-xl);
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.frame-footer {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent3,
.frame-parent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  align-items: flex-start;
  gap: 58px;
}
.frame-parent3 {
  flex: 1;
  align-items: flex-end;
  gap: 102px;
}
.inicio-inner {
  width: 1534px;
  flex-direction: row;
  padding: 0 var(--padding-35xl);
  box-sizing: border-box;
  max-width: 100%;
}
.inicio-inner,
.inicio1,
.inicio2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inicio2 {
  flex: 1;
  background-color: var(--color-khaki);
  flex-direction: column;
  padding: 0 0 var(--padding-51xl);
  box-sizing: border-box;
  gap: var(--gap-49xl);
  max-width: 100%;
}
.inicio1 {
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .parent-container-wrapper {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-footer,
  .frame-parent5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .f-r-a-m-e {
    padding-left: 48px;
    box-sizing: border-box;
  }
  .frame-parent4 {
    gap: 29px 58px;
  }
  .frame-parent3 {
    gap: 51px 102px;
  }
  .inicio-inner {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .inicio2 {
    gap: 34px 68px;
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .f-r-a-m-e {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nombrecurso,
  .nombrecurso1,
  .nombrecurso2,
  .nombrecurso3,
  .nombrecurso4,
  .nombrecurso5 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent3 {
    gap: 25px 102px;
  }
  .inicio2 {
    gap: 17px 68px;
  }
}
